{% extends '@App/Layout/layout.html.twig' %}
{% block body %}
    
    {% embed '@App/Partials/card.html.twig' %}
        
        {% block pre_card %}{{ form_start(form) }}{% endblock %}
        {% block card_title %}{{ 'heading.change_password'|trans({"%user%" : user})|desc("Change password for %user%") }}{% endblock %}
        {% block card_content %}{{ form_widget(form) }}{% endblock %}
        {% block card_action %}
            <button type="submit" class="btn btn-primary">{{ 'button.update_password'|trans|desc("Update your password") }}</button>
        {% endblock %}
        {% block post_card %}{{ form_end(form ) }}{% endblock %}
    
    {% endembed %}

{% endblock %}
