{% extends '@App/Layout/layout.html.twig' %}
{% block body %}
    {% embed '@App/Partials/card.html.twig' %}

    {% block pre_card %}{{ form_start(form) }}{% endblock %}
    
    {% block card_title %}{{ 'heading.reset_password'|trans|desc("Reset your password") }}{% endblock %}
    {% block card_content %} {{ form_widget(form) }} {% endblock %}
    {% block card_action %}
        <button type="submit" class="btn btn-primary">{{ 'button.reset_password'|trans|desc("Reset your password") }}</button>
        {{ widget('cancel_button') }}
    {% endblock %}
    
    {% block post_card %} {{ form_end(form )}}{% endblock %}
    
    {% endembed %}

{% endblock %}
