{% extends '@App/Layout/layout.html.twig' %}
{% block body %}
{% embed '@App/Partials/card.html.twig' with {"class": "blue-grey lighten-5", "textClass" : ""} %}

    {% block pre_card %}
        {{ form_start(form) }}
    {% endblock %}

    {% block card_title %}{{ 'heading.sign_up'|trans({"%appName%" : app_name})|desc("Sign up at %appName%") }}{% endblock %}

    {% block card_content %}{{ form_widget(form) }}{% endblock %}


    {% block card_action %}
        <button type="submit" class="btn waves-effect waves-light deep-purple darken-4">{{'button.create_account'|trans|desc("Create account")}}</button>
    {% endblock %}

    {% block post_card %} {{ form_end(form ) }} {% endblock %}
{% endembed %}
{% endblock %}