<div class="panel panel-default depth-1 hover audiobook">
    <div class="panel-heading">
        <h3><a href="{{ url('app_audiobooks_show', {"canonical": book.canonical}) }}">{{ book.title }}</a></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4 cover-image" style="background-image: url({{ book.coverImage|default(asset('sound-bars.svg')) }})">
            </div>
            <div class="book-content col-sm-{{ book.hasCoverArt ? '8' : '12' }}">
                <div class="book-description">
                    {{ book.description|markdown|striptags|truncate(300) }}
                </div>
    
                <hr class="divider">
                {% include '@App/Audiobook/book-meta.html.twig' with {"record" : book } %}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" href="{{ url('app_audiobooks_edit', {"canonical" : book.canonical}) }}">{{ 'Edit'|trans }}</a>
    </div>

</div>