<div class="row">
    
    <div class="col-md-6">
        
        <dl class="dl-horizontal">
            <dt>{{ 'transchoice.author.label'|transchoice(record.authors|length)|desc("{0}Author|{1}Author|]1,Inf]Authors") }}</dt>
            <dd>
                {{ widget('author_linklist', {"authors" : record.authors}) }}
            </dd>
            <dt>{{'heading.genre'|trans|desc("Genre")}}</dt>
            <dd>
                <a href="{{ url('app_audiobooks_index', record.genre|genres_term) }}">{{ record.genre }}</a>
            </dd>
            <dt>{{'heading.series'|trans|desc('Series')}}</dt>
            <dd>
                {% if record.series %}
                    <a href="{{ url('app_audiobooks_index', record.series|series_term) }}">{{ record.series }}</a>
                {% else %}
                    {{ 'info.no_series'|trans|desc('No series') }}
                {% endif %}
            </dd>
        </dl>
    
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>{{ 'heading.speaker'|trans|desc("Speaker") }}</dt>
            <dd>
                {{ widget('speaker_linklist', {"speakers" : record.speakers }) }}
            </dd>
            <dt>{{ 'heading.media'|trans|desc("Media") }}</dt>
            <dd>{{ record.storageType }}</dd>
        </dl>
    </div>
</div>