{% extends '@App/Layout/layout.html.twig' %}
{% set _pager %}{{ include('@App/Partials/pager.html.twig') }}{% endset %}
{% set _sorter %}{{ include('@App/Partials/sorter.html.twig') }}{% endset %}

{% block search %}
    {% include '@App/Partials/search-bar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">{{ _pager }}</div>
        <div class="col-md-4">
            {{ _sorter }}
            <div class=" pull-right pagination">
                <a href="{{ path('app_audiobooks_create') }}" class="btn btn-success space-right space-right">
                    <i class="glyphicon glyphicon-plus space-right"></i>    {{ 'button.create'|trans|desc("Neu") }}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for book in result %}
                {% include '@App/Audiobook/_panel.html.twig' %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">{{ _pager }}</div>
        <div class="col-md-4">{{ _sorter }}</div>
    </div>


{% endblock %}



