{% extends "@App/Layout/layout.html.twig" %}
{% block search %}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    {% embed '@App/Partials/card.html.twig' with {"class" : "grey lighten-3 z-depth-3", "id" : "panel-login"} %}
        {% block pre_card %}
            <form action="{{ path('app_security_login') }}" method="post">
        {% endblock %}

        {% block card_title %}{{ 'heading.sign_in'|trans({"%appName%" : app_name})|desc("Sign in to %appName%") }}{% endblock %}

        {% block card_content %}

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group">
                <label for="username">{{ 'label.signin.username'|trans|desc("Username") }}</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'placeholder.signin.username'|trans|desc("Your username") }}"/>
            </div>

            <div class="form-group">
                <label for="password">{{ 'label.signin.password'|trans|desc("Password") }}</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'placeholder.signin.password'|trans|desc("Your password") }}" />
            </div>

            {% if error %}
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a href="{{ url('app_reset_index') }}" >{{ 'button.reset_password'|trans|desc("Reset your password") }}</a>
                    </div>
                </div>

            {% endif %}

        {% endblock %}

        {% block card_action %}
            <div class="text-right">
                <button type="submit" class="btn btn-primary">{{ 'button.signin'|trans|desc("Sign in") }}</button>

            </div>
        {% endblock %}

        {% block post_card %}
            </form>
        {% endblock %}
    {% endembed %}
    </div>
</div>
{% endblock %}