{% extends 'bootstrap_3_layout.html.twig' %}

{% block image_url_widget %}
    <img src="{{ is_asset ? asset(image_url) : image_url }}" alt="" class="img-responsive">
    {{ block('form_widget_simple') }}
{% endblock %}

{% block appendable %}
    <div class="input-group" data-appendable>
        {{ widget|raw }}
        <div class="input-group-btn">
            <button class="btn btn-primary"
                    data-append-url="{{ add_item_route ? path(add_item_route, add_item_params) : '#' }}">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block choice_widget_collapsed %}
    {% set widget =  parent() %}
    {% if appendable %}
        {{ block('appendable') }}
    {% else %}
        {{ widget|raw }}
    {% endif %}
{% endblock %}

{% block form_widget_simple %}
    {% set widget =  parent() %}
    {% if appendable %}
        {{ block('appendable') }}
    {% else %}
        {{ widget|raw }}
    {% endif %}
{% endblock %}
