{% extends 'bootstrap_3_layout.html.twig' %}

{% block image_url_widget %}
    {% set modal_id = uid('cover-image') %}
    <div data-image-container class="cover-image-container">
        <div class="well placeholder">
            <a href="#" data-toggle="modal" data-target="#{{ modal_id }}">
            <img src="{{ is_asset ? asset(image_url) : image_url }}" alt="" class="img-responsive center-block ">
            </a>
        </div>
    
        <div class="modal fade" tabindex="-1" role="dialog" id="{{ modal_id }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ 'heading.image_url'|trans|desc("Cover-Image url") }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ block('form_widget_simple') }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'button.ok'|trans|desc("OK") }}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

{% block appendable %}
    <div class="input-group" data-appendable>
        {{ widget|raw }}
        <div class="input-group-btn">
            <button class="btn btn-primary"
                    data-append-button
                    data-append-url="{{ add_item_route ? path(add_item_route, add_item_params) : '#' }}">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block choice_widget_collapsed %}
    {% set widget =  parent() %}
    {% if appendable %}
        {{ block('appendable') }}
    {% else %}
        {{ widget|raw }}
    {% endif %}
{% endblock %}

{% block form_widget_simple %}
    {% set widget =  parent() %}
    {% if appendable %}
        {{ block('appendable') }}
    {% else %}
        {{ widget|raw }}
    {% endif %}
{% endblock %}

{% block audiobook_widget %}
    
    {{ form_row(form.title) }}
    
    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.description) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.coverImage) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">{{ form_row(form.authors) }}</div>
        <div class="col-md-6">{{ form_row(form.speakers) }}</div>
        <div class="col-md-6">{{ form_row(form.genre) }}</div>
        <div class="col-md-6">{{ form_row(form.series) }}</div>
        <div class="col-md-6">{{ form_row(form.storageType) }}</div>
    </div>
    
    
{% endblock %}